<section class="table-section">
    <button id="get-button">Get movie List</button>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th>
              <div class="btn-group">
                <button (click)="deleteMovie" class="btn btn-danger" id="delete-button">
                  Delete
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row"></tr>
        </tbody>
    </table>
</section>
